<div class="container mt-5 mb-5 pl-5 ">
  <div class="row">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="currency-number">Current Balance</label>

        <input class="form-control"  type="text" appCurrencyMask  formControlName="currency" id="currency-number"  >
      </div>

      <div class="form-group">
        <label for="currency-number">Current Balance 2</label>

        <input class="form-control"  type="text" appCurrencyI18n  formControlName="currency2" id="currency-number2"  >
      </div>

    </form>
  </div>
</div>